body{
    background-color: rgb(60, 60, 224);
}

main{
    text-align: center;
    display: flex;
    justify-content: center;
}
.datas {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.datas button {
    padding: 30px;
    border-radius: 18pt;
    cursor: pointer;
}

.selecionado{
    background-color: #2d6cdf;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px, 30px;
}
h1{
    color: white;
}
.btsup{
    display: flex;
    gap: 20px;
    
}
.btsup input {

    padding: 10px;
    border-radius: 4pt;
}