body{
    background-color: rgb(28, 95, 218);
    
}

main{
    text-align: center;
    display: flex;
    justify-content: center;
}

.datas {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.datas button {
    padding: 20px;
    border-radius: 15pt 0pt;
    cursor: pointer;
    
}
.datas button:hover{
    background-color: #a7b9da;
    transition: 0.5s;
}
.selecionado{
    background-color: #2d6cdf;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
h1{
    color: white;
}
.btsup{
    display: flex;
    gap: 20px;
    
}
.btsup input {
    background-color: white;
    padding: 10px;
    border-radius: 4pt;
}
.btsup #ig:hover{
    transition: 0.8s;
    background-color: #5851DB;
    color: white;
}
.btsup #wpp:hover{
    transition: 0.8s;
    background-color: rgb(30, 235, 57);
    color: black;
}

#btnConfirmar{
    display: none;
    padding: 10px;
    border-radius: 6pt;
    
}
#btnConfirmar:hover{
    background-color: aqua;
    transition: 0.5s;
}
#btnConf{
    display: flex;
    justify-content: center;
}
input{
    background-color: rgb(181, 190, 187);
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 5pt;
    z-index: 100;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.enviar{
    background-color: rgb(28, 95, 218);
    color: rgb(255, 255, 255);
    margin-top: 35px;
    padding: 10px;
    border: none;
    border-radius: 5pt;
    font-size: medium;
    font-weight: 900;
}
.enviar:hover{
    background-color: aqua;
    color: blue;
    transition: 0.5s;
}
.x{
    position: absolute;
    top: 10px;
    right: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 99;
}


