body{
    background-color: rgb(60, 60, 224);
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px, 30px;
}
h1{
    color: white;
}
.btsup{
    display: flex;
    gap: 20px;
    
}
input{
    background-color: rgb(255, 255, 255);
    color: rgb(4, 3, 70);
}